@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


.home-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #888888;
    background: linear-gradient(135deg, #ffffff, #c5c5c5);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    animation: fadeIn 1s ease-in-out;
}

.input-fields {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.input-fields input {
    width: 100%;
    padding: 10px;
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    background-color: #c5c5c5;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-fields input:focus {
    border-color: #424242;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.5);
    outline: none;
}

.info-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.info-icon:hover+.text-icon-container {
    display: block;
}

.text-icon-container {
    display: none;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.9);

    p {
        display: flex;
        flex-direction: column;
        max-height: 30%;
        direction: rtl;
    }
}

.button-handle-users {
    background-color: #000000;
    width: 100%;
    height: 7%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-handle-users:hover {
    background-color: #424242;
    transform: scale(1.05);
}

.error-data {
    height: 3%;
    text-align: center;
    color: red;
}

@media screen and (max-width: 500px) {
    .home-page-container {
        padding: 10px;
    }

    .input-fields {
        width: 90%;
        gap: 10px;
    }

    .info-icon {
        width: 16px;
        height: 16px;
    }

    .text-icon-container {
        top: 25px;
        left: -40px;
        width: 160px;
        font-size: 0.7rem;
    }
}